[Desktop Entry]
Type=Application
Name=acag
GenericName=Article Cover Art Generator
Comment=Generate 1:1 article cover art in an Omakase style
Exec=acag
Icon=article-cover-art-generator
Terminal=false
Categories=Graphics;2DGraphics;
Keywords=acag;cover;art;svg;png;article;generator;omakase;
StartupNotify=true
